<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TitleLogo</key>
	<string>titlelogo.png</string>
	<key>ButtonScale</key>
	<string>buttonscale.png</string>
	<key>Facts</key>
	<dict>
		<key>Num</key>
		<integer>3</integer>
		<key>1</key>
		<dict>
			<key>1</key>
			<string>Did you know?</string>
			<key>2</key>
			<string>This game is</string>
			<key>3</key>
			<string>1188 lines of</string>
			<key>4</key>
			<string>code.</string>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<string>Did you know?</string>
			<key>2</key>
			<string>Pausing</string>
			<key>3</key>
			<string>is for quitters.</string>
		</dict>
		<key>3</key>
		<dict>
			<key>1</key>
			<string>Did you know?</string>
			<key>2</key>
			<string>Sparrows are African.</string>
			<key>3</key>
			<string>True story.</string>
		</dict>
	</dict>
	<key>RedSprite</key>
	<dict>
		<key>1</key>
		<string>PlayerPlaceholderRed.png</string>
	</dict>
	<key>PurpleSprite</key>
	<dict>
		<key>1</key>
		<string>PlayerPlaceholderPurple.png</string>
	</dict>
	<key>GreenSprite</key>
	<dict>
		<key>1</key>
		<string>PlayerPlaceholderGreen.png</string>
	</dict>
	<key>BlueSprite</key>
	<dict>
		<key>1</key>
		<string>PlayerPlaceholderBlue.png</string>
	</dict>
	<key>Ceilings</key>
	<dict>
		<key>1</key>
		<string>lightning.png</string>
		<key>2</key>
		<string>lightning2.png</string>
		<key>3</key>
		<string>lightning3.png</string>
	</dict>
	<key>YellowSprite</key>
	<dict>
		<key>1</key>
		<string>PlayerPlaceholderYellow.png</string>
	</dict>
	<key>BlackSprite</key>
	<dict>
		<key>1</key>
		<string>supersparrowtop.png</string>
		<key>2</key>
		<string>supersparrowtopwingsdown.png</string>
		<key>3</key>
		<string>supersparrowtop.png</string>
		<key>4</key>
		<string>supersparrowtopwingsup.png</string>
	</dict>
	<key>SelectedSprite</key>
	<string>BlackSprite</string>
	<key>HighScore</key>
	<integer>0</integer>
	<key>Safezone</key>
	<integer>60</integer>
</dict>
</plist>
