<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LockBackground</key>
	<string>plain-blue-gradient-lock.png</string>
	<key>SpriteBackground</key>
	<string>plain-blue-gradient.png</string>
	<key>LightningBorder</key>
	<dict>
		<key>1</key>
		<string>lightningborder1.png</string>
		<key>2</key>
		<string>lightningborder2.png</string>
		<key>3</key>
		<string>lightningborder3.png</string>
	</dict>
	<key>DeathAnimation</key>
	<dict>
		<key>1</key>
		<string>deathframe1.png</string>
		<key>2</key>
		<string>deathframe2.png</string>
		<key>3</key>
		<string>deathframe3.png</string>
	</dict>
	<key>TitleLogo</key>
	<string>titlelogo.png</string>
	<key>ButtonScale</key>
	<string>buttonscale.png</string>
	<key>Facts</key>
	<dict>
		<key>Num</key>
		<integer>3</integer>
		<key>1</key>
		<dict>
			<key>1</key>
			<string>Did you know?</string>
			<key>2</key>
			<string>This game is</string>
			<key>3</key>
			<string>1188 lines of</string>
			<key>4</key>
			<string>code.</string>
		</dict>
		<key>2</key>
		<dict>
			<key>1</key>
			<string>Did you know?</string>
			<key>2</key>
			<string>Pausing</string>
			<key>3</key>
			<string>is for quitters.</string>
		</dict>
		<key>3</key>
		<dict>
			<key>1</key>
			<string>Did you know?</string>
			<key>2</key>
			<string>Sparrows are African.</string>
			<key>3</key>
			<string>True story.</string>
		</dict>
	</dict>
	<key>Ceilings</key>
	<dict>
		<key>1</key>
		<string>lightning.png</string>
		<key>2</key>
		<string>lightning2.png</string>
		<key>3</key>
		<string>lightning3.png</string>
	</dict>
	<key>SuperSparrow</key>
	<dict>
		<key>1</key>
		<string>supersparrowtop.png</string>
		<key>2</key>
		<string>supersparrowtopwingsdown.png</string>
		<key>3</key>
		<string>supersparrowtop.png</string>
		<key>4</key>
		<string>supersparrowtopwingsup.png</string>
		<key>5</key>
		<string>streak.png</string>
		<key>ScoreRequirement</key>
		<integer>0</integer>
	</dict>
	<key>isMuted</key>
	<string>false</string>
	<key>isMusic</key>
	<string>true</string>
	<key>GreenSparrow</key>
	<dict>
		<key>1</key>
		<string>greensparrowtop.png</string>
		<key>2</key>
		<string>greeensparrowtopwingsdown.png</string>
		<key>3</key>
		<string>greensparrowtop.png</string>
		<key>4</key>
		<string>greensparrowtopwingsup.png</string>
		<key>5</key>
		<string>greenstreak.png</string>
		<key>ScoreRequirement</key>
		<integer>10</integer>
	</dict>
	<key>PinkSparrow</key>
	<dict>
		<key>1</key>
		<string>pinksparrowtop.png</string>
		<key>2</key>
		<string>pinksparrowtopwingsdown.png</string>
		<key>3</key>
		<string>pinksparrowtop.png</string>
		<key>4</key>
		<string>pinksparrowtopwingsup.png</string>
		<key>5</key>
		<string>pinkstreak.png</string>
		<key>ScoreRequirement</key>
		<integer>20</integer>
	</dict>
	<key>BatSparrow</key>
	<dict>
		<key>1</key>
		<string>batsparrowtop.png</string>
		<key>2</key>
		<string>batsparrowtopwingsdown.png</string>
		<key>3</key>
		<string>batsparrowtop.png</string>
		<key>4</key>
		<string>batsparrowtopwingsup.png</string>
		<key>5</key>
		<string>blackstreak.png</string>
		<key>ScoreRequirement</key>
		<integer>30</integer>
	</dict>
	<key>IronSparrow</key>
	<dict>
		<key>1</key>
		<string>ironsparrowtop.png</string>
		<key>2</key>
		<string>ironsparrowtopwingsdown.png</string>
		<key>3</key>
		<string>ironsparrowtop.png</string>
		<key>4</key>
		<string>ironsparrowtopwingsup.png</string>
		<key>5</key>
		<string>yellowstreak.png</string>
		<key>ScoreRequirement</key>
		<integer>40</integer>
	</dict>
	<key>WolSparrow</key>
	<dict>
		<key>1</key>
		<string>wolsparrowtop.png</string>
		<key>2</key>
		<string>wolsparrowtopwingsdown.png</string>
		<key>3</key>
		<string>wolsparrowtop.png</string>
		<key>4</key>
		<string>wolsparrowtopwingsdown.png</string>
		<key>5</key>
		<string>bluestreak.png</string>
		<key>ScoreRequirement</key>
		<integer>50</integer>
	</dict>
	<key>SelectedSprite</key>
	<string>SuperSparrow</string>
	<key>HighScore</key>
	<integer>0</integer>
	<key>Safezone</key>
	<integer>60</integer>
</dict>
</plist>
